body
{
    font:16px/24px Helvetica, Helvetica Neue, Arial, sans-serif;
}

.gridWrapper
{
    display:grid;
    grid-template-columns: 10% 90%;
}

.menu01
{
    background: #4F4F4F;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
}